.Rhistory
**/__pycache__
.ipynb_checkpoints/
**/*.obj
**/lab3/
**/*.csv
**/.DS_Store
**/__pycache__/
*.pyc
*.iml
*.txt
*.pkl
*.npz
*.xml
*.ipynb
webapp/cltzz/engine/.idea/workspace.xml
webapp/cltzz/engine/migrations/0*.py
*.sqlite3
